<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<script src="/js/script.js" defer></script>

<body class="container">

  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>This is an app</h1>
      <p>We need Trustly so people can pay for things!</p>

      <p>
        <%= tagline %>
      </p>

    </div>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>